BinaryAddition.exe
BinaryAddMulDiv.exe
BinarySearch.exe
binaryIntOp.exe
cartesian_product.exe
complement.exe
difference.exe
euclidean.exe
extendedEuclidean.exe
Floor_Ceiling.exe
Fuzzy.exe
FuzzySet.exe
intersection.exe
MSTKrushal.exe
ProjectBin.exe
simpFuzzy.exe
union.exe
BoolMatJoinProd.exe

